
**/bin/
**/obj/

.idea/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

*.dll
*.exe
*.app
*.cache
*.pdb
*.mdb
*.nupkg
*.msi

*.db
*.bak
*.log

TestResults/
*.coverage
*.coveragexml

######################
# App Configuration  #
######################
/src/HabitumAPI/appsettings.json
**/src/HabitumAPI/appsettings.json
**/appsettings.json
**/appsettings.*.json